.f-color1 {
  color: #ffffff;
}

.f-color2 {
  color: rgba(255, 255, 255, 0.4);
}

.b-prime {
  color: #243441;
}

.b-accent {
  color: #0AFFEF;
}

.b-error {
  color: #FF555D;
}

.accent {
  background-color: #0AFFEF;
}

.error {
  background-color: #FF555D;
}

.flat {
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

.flat-big {
  -webkit-box-shadow: 11px 11px 22px rgba(0, 0, 0, 0.4), -11px -11px 22px rgba(255, 255, 255, 0.1);
          box-shadow: 11px 11px 22px rgba(0, 0, 0, 0.4), -11px -11px 22px rgba(255, 255, 255, 0.1);
}

.flat-inset {
  -webkit-box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.4), inset -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.4), inset -7px -7px 14px rgba(255, 255, 255, 0.1);
}

.flat-inset-big {
  -webkit-box-shadow: inset 11px 11px 22px rgba(0, 0, 0, 0.4), inset -11px -11px 22px rgba(255, 255, 255, 0.1);
          box-shadow: inset 11px 11px 22px rgba(0, 0, 0, 0.4), inset -11px -11px 22px rgba(255, 255, 255, 0.1);
}

.concave {
  background: linear-gradient(145deg, #273846, #202f3b);
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

.concave-big {
  background: linear-gradient(145deg, #273846, #202f3b);
  -webkit-box-shadow: 11px 11px 22px rgba(0, 0, 0, 0.4), -11px -11px 22px rgba(255, 255, 255, 0.1);
          box-shadow: 11px 11px 22px rgba(0, 0, 0, 0.4), -11px -11px 22px rgba(255, 255, 255, 0.1);
}

.convex {
  background: linear-gradient(145deg, #202f3b, #273846);
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

.convex-big {
  background: linear-gradient(145deg, #202f3b, #273846);
  -webkit-box-shadow: 11px 11px 22px rgba(0, 0, 0, 0.4), -11px -11px 22px rgba(255, 255, 255, 0.1);
          box-shadow: 11px 11px 22px rgba(0, 0, 0, 0.4), -11px -11px 22px rgba(255, 255, 255, 0.1);
}

button {
  all: unset;
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin: 1rem;
  padding: .3rem;
  color: #ffffff;
}

button:hover {
  background: linear-gradient(145deg, #273846, #202f3b);
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

button:active {
  background: linear-gradient(145deg, #202f3b, #273846);
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

button.btn {
  display: inline-block;
  width: auto;
  height: auto;
  padding: .5rem 3rem;
}

button.accent {
  color: #243441;
  position: relative;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button.accent:hover {
  background: #0AFFEF;
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

button.accent::before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: -12px;
  bottom: -10px;
  right: -12px;
  background-color: transparent;
  border-radius: 30px;
  -webkit-box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.7), inset -3px -3px 6px rgba(255, 255, 255, 0.2);
          box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.7), inset -3px -3px 6px rgba(255, 255, 255, 0.2);
}

button.accent:active {
  -webkit-box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.4), inset -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.4), inset -7px -7px 14px rgba(255, 255, 255, 0.1);
}

button.error {
  color: #243441;
  position: relative;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button.error:hover {
  background: #FF555D;
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4), -7px -7px 14px rgba(255, 255, 255, 0.1);
}

button.error::before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: -12px;
  bottom: -10px;
  right: -12px;
  background-color: transparent;
  border-radius: 30px;
  -webkit-box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.7), inset -3px -3px 6px rgba(255, 255, 255, 0.2);
          box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.7), inset -3px -3px 6px rgba(255, 255, 255, 0.2);
}

button.error:active {
  -webkit-box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.4), inset -7px -7px 14px rgba(255, 255, 255, 0.1);
          box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.4), inset -7px -7px 14px rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=buttons.css.map */