:root {
    font-size: 13px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './colors/colors';
@import './radius/radius';
@import './shadows/shadow';
@import './positioning/positioning';
@import './display/display';
@import './buttons/buttons';
@import './inputs/slider';
@import './inputs/textInput';
@import './inputs/radio_and_checkbox';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $b_prime;
    font-family: 'Poppins', sans-serif;
    // transition: 150ms ease-out;
}

a {
    text-decoration: none;
    color: $f-color1;
}
input {
    outline: none;
    border: none;
}

body {
    transition: none;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: lighter;
    color: $f-color1;
}
// =====================
.visualizer {
    position: absolute;
    top: 2rem;
    left: 100px;
}
.appbar {
    width: 100vw;
    position: fixed;
    top: 0;
}

.abs-left {
    position: absolute;
    left: 0;
    top: 0;
}
.abs-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.abs-right {
    position: absolute;
    right: 0;
    top: 0;
}

.avatar {
    // transform: scale(1.2); 
    border-radius: 50%;
    border: 2px solid $f-color2;  
}

.dimmer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    // z-index: 3;
    transition: 300ms ease;
    transform: translateX(-100%);
}

.sideMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: .3s ease-in-out;
}

.bars-container {
    width: 90%;
    height: 370px;
    display: flex;
    align-items: flex-end;
    margin: auto;
    // border: 1px solid white;
    background-image: linear-gradient($b-prime, rgba(0,0,0,.2));
    padding: 1rem;
    position: relative;
}

.bars {
    flex: 2 1 auto;
    margin: 1px;
    background-color: $b-accent;
    transition: .2s ease;
    // background-color: $b-error;
}

.algo-options {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 190px;
    height: 35px;
    box-shadow: $thin-inset;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    cursor: pointer;
}

.sorting-algorithms {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 10px;
    z-index: -1;
}

.sorting-algorithms div:hover {
    background-color: rgba(0,0,0,.2);
    color: $b-accent;
    // color: $b-accent;
}
.sorting-algorithms div:active {
    color: $b-error;
}

.sorting-panel {
    width: 90%;
    height: 100px;
    border-bottom: 1px solid $f-color2;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 700px) {
    body {
        overflow-y: scroll;
    }
    
    .sorting-panel {
        flex: none;
        justify-content: left;
        overflow-x: scroll;
        width: 100%;
    }
    .bars-container{
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
    }
    .bars {
        width: 3px;
        flex: none;
    }
}